<div class="content">
  <div class="input-container">
    <p>Welcome to the Mini Messageboard</p>
    <a href="/new" class="button-wrappers"><button>Add Message</button></a>
  </div>
  <div class="message-display">
    <% messages.forEach(message => { %>
    <h3><%= message.user %></h3>
    <p><%= message.text %></p>
    <p><%= message.added %></p>
    <% }); %>
  </div>
</div>
