<div class="content">
  <div class="input-container">
    <p>Welcome to the Mini Messageboard</p>
    <a href="/new" class="button-wrappers"><button>Add Message</button></a>
  </div>
  <% messages.forEach(message => { %>
  <div class="message-display">
    <div class="message-header">
      <h3><%= message.user %></h3>
      <p class="mini"><%= message.added %></p>
    </div>
    <p><%= message.text %></p>
  </div>
  <% }); %>
</div>
