<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1 class="page-title">Welcome to My Message Board</h1>
    </header>

    <main><%- body %></main>

    <footer>
      <p>
        &copy; 2024 BIT Productions for
        <a
          href="https://www.theodinproject.com/lessons/nodejs-mini-message-board"
          >The Odin Project</a
        >.
      </p>
    </footer>
  </body>
</html>
