<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1 class="page-title">Message Board</h1>
    </header>

    <main><%- body %></main>

    <footer>
      <p>
        &copy; 2024 BIT Productions for
        <a
          href="https://www.theodinproject.com/lessons/nodejs-mini-message-board"
          >The Odin Project</a
        >.
      </p>
    </footer>
  </body>
</html>
