<div class="content">
  <div class="new-post-container">
    <a href="/"><button>Go back</button></a>
    <form action="/new" method="post">
      <label for="name">Your name:</label>
      <input type="text" name="name" id="name" />
      <label for="message">Your message:</label>
      <input type="text" name="message" id="message" />
      <button>Send</button>
    </form>
  </div>
</div>
