html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h3,
p {
  font-family: 'Raleway', sans-serif;
}

header {
  align-items: center;
  width: 100%;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
}

.page-title {
  font-size: 38px;
  padding-top: 0.4rem;
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: bisque;
  max-height: 40px;
}

main {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
  padding-top: 100px;
  /* margin: 100px auto 10px auto; */
}

@media (max-width: 600px) {
  .page-title {
    font-size: 24px;
  }

  main {
    padding-top: 80px;
  }
}

button {
  margin: 0.8rem auto;
  width: 200px;
  padding: 0.275rem;
  background-color: bisque;
}

.button-wrappers {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/*
 new post styles
*/

.new-post-container {
  width: 80%;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;

    label {
      padding: 0.5rem;
    }

    input {
      padding: 0.375rem;
    }
  }
}

@media (max-width: 600px) {
  .new-post-container {
    width: 100%;
  }
}

/*
content styles
*/

.content {
  width: 100%;
  margin-bottom: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    margin: 0 auto;
  }
}

.message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .message-header {
    flex-direction: column;
    justify-content: left;
    text-align: left;

    h3 {
      margin: 0.4rem;
    }

    p {
      margin: 0;
    }
  }
}

.mini {
  font-size: smaller;
  font-style: italic;
}

.message-display {
  border-bottom: 1px solid #ccc;
}

/* 
Error Page
*/

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
